@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form action="/home/Calculate" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" />
    <label for="TotalLoanLable">Total loan</label>
    <input type="text" name="TotalLoan" />
    <label for="InterestLable">Interest</label>
    <input type="text" name="Interest" />
    <label for="YearsLable">Years</label>
    <input type="text" name="Years" />
    <input type="submit" name="submit" />
</form>
</div>
